* {
  transition: all 0.2s ease;
}

.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 10px;
  border: 10px solid black;
  align-items: center;
  justify-content: center;
}

.columns {
  margin-left: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: flex-start;
  width: 300px;
}

.picsline {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.card {
  height: 250px;
}
.card.size-M {
  height: 350px !important;
}
.card.size-L {
  height: 450px !important;
}

.action-btn {
  margin: 20px;
  transform: scale(2);
}
.action-btn:hover {
  transform: scale(2.5);
  cursor: pointer;
}

.tag {
  border-radius: 100px;
  background-color: purple;
  color: white;
  padding: 3px 7px;
  display: inline-block;
}

.tag span {
  margin-left: 5px;
}
.tag span:hover {
  cursor: pointer;
  transofrm: scale(1.2);
}
